@page
@model IndexModel
@{
    ViewData["Title"] = "Stock Investing";
}
@Html.AntiForgeryToken()
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<div class="container">
    <h2 class="display-6">Practice your investing skills!</h2>
</div>
<hr style="color:#000000">
<div class="container">
    <form id="form1" runat="server">

        <div class="container">
            <div class="row">
                <div class="col">
                    <!--INTRODUCTION-->
                    <p class="">
                        You are given $10,000 to invest in the stock market.
                        
                        You are placed on a random day, at least six months in the past, and are provided with that day's opening share price.
                        
                        You are able to buy, sell, or hold (skip a day) for a total of 7 days.
                        
                        When the 7th day is finished, you will be shown your total gains or losses.
                        
                        Good luck!
                    </p>
                </div>
                <div class="col">
                    <div class="display-1 text-center"><img src="~/images/Money.png" alt="Illustration of printed money" width="120" height="120"/></div>
                    
                </div>
            </div>
        
        </div>
        <hr />
        <!--TICKER/RESULTS DISPLAY-->
        <div class="card-color1">
            <div class="container border border-secondary rounded shadow-sm">
                <div class="row">
                    <div class="col">
                        <!--Ticker Symbol Search-->
                        <br />
                        <h5>Search for a ticker symbol below and click "Begin Game"</h5>
                        <br>
                        <div class="input-group mb-3 w-50">
                            <input id="tickerSymbol" type="text" class="form-control" placeholder="Ticker Symbol" aria-label="Ticker Symbol" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
                            </div>
                        </div>
                        <input type="button" class="btn btn-outline-dark btn-lg" role="button" id="btnGetStocks" value="Begin Game" />
                        <br />
                        <br />
                    </div>
                    <!--Balance and Results Displayed Here-->
                    <div class="col">
                        <br />
                        <h5>Results:</h5>
                        <div class="container">

                            <div class="display-5 text-center" id="result"></div>
                            <div class="display-5 text-center" id="balanceResults"></div>
                            <br />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <!--BUY/SELL/HOLD-->
        <!--Share input-->
        <div class="card-color1">
            <div class="container container border border-secondary rounded shadow-sm">
                <br />
                <div class="row">
                    <div class="col">
                        <h5>Enter number of shares to buy/sell or drag one of the sliders below</h5>
                        <div class="input-group mb-3 w-25">
                            <input id="shareCount" type="text" class="form-control" placeholder="Number of Shares" alt="Share Count Input" >
                        </div>
                        <br />


                        <p class="text-black-20">Shares (1-99)</p>
                        <div id="slider" alt="Share Count Slider"></div>
                        <style>
                            #slider {
                                width: 250px;
                            }

                                #slider .ui-slider-handle {
                                    background: #13aa52;
                                }
                        </style>
                        <br />
                    </div>
                    <div class="col">
                        <div class="container" id="doughnut"></div>
                        <style>
                            #doughnut {
                                margin-right: 75%;
                            }

                                #doughnut .rs-range-color {
                                    background: #198754;
                                }

                                #doughnut .rs-handle {
                                    background-color: #13aa52
                                }
                        </style>
                    </div>
                </div>
                <div class="row">
                    <hr />
                    <div class="container">
                        <div class="btn-group btn-group-lg" role="group" aria-label="Buy Sell Hold">
                            <button type="button" class="btn btn-outline-dark btn-sep" role="button" id="btnBuy">Buy</button>
                            <button type="button" class="btn btn-outline-dark" role="button" id="btnSell">Sell</button>
                            <button type="button" class="btn btn-outline-dark" role="button" id="btnHold">Hold</button>
                        </div>
                    </div>
                    
                </div>
                <br />
            </div>
        </div>

        <!--Buttons-->
        <br />        
        <hr />
        <div class="container">
            <input type="button" class="btn btn-outline-danger btn-lg" role="button" id="btnQuit" value="Quit" />
            <br />
            <br />
        </div>


        <input type="hidden" id="balanceHidden" />
        <input type="hidden" id="priceHidden" />

        <br />
    </form>
</div>

@section Scripts
    {

    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        //<!--DISPLAYING STOCK PRICE-->
        $("#btnGetStocks").click(function () {

            var tickerSymbol = $('#tickerSymbol').val();

            $.ajax({
                type: "POST",
                url: "/Index?handler=GetStocks",
                data: { "value": tickerSymbol },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
            $(this).prop("disabled", true);
        });
        //<!--SLIDER LINKING-->
        $(function () {

            $("#slider").slider({
                min: 1, max: 99, step: 1, value: 0,
                slide: function (event, ui) {
                    var price = (ui.value * 100);//This is just a test, simulating the day's stock price
                    $("#shareCount").val(ui.value); //Linking text field with slider
                    $("#doughnut").roundSlider("setValue", ui.value); //Linking chart with slider
                }
            });
            var initialValue = $("#slider").slider("option", "value");
            $("#shareCount").val(initialValue);
            //Linking slider & chart with text field
            $("#shareCount").change(function () {

                var oldVal = $("#slider").slider("option", "value");
                var newVal = $(this).val();
                var price = (newVal * 100); //for testing
                if (isNaN(newVal) || newVal < 1 || newVal > 100) {
                    $("#shareCount").val(oldVal);
                } else {
                    $("#slider").slider("option", "value", newVal);
                    $("#doughnut").roundSlider("setValue", newVal); //Linking chart with slider
                }
            });
            $("#doughnut").change(function (e) {
                var shares = (e.value / 100) //This is for converting the price into a share. Unused until I can figure out how to pass the daily price into the values
                $("#slider").slider("option", "value", e.value);
                $("#shareCount").val(e.value); //Linking chart with slider

            });
        });

        //<!--BUY BUTTON-->
        $("#btnBuy").click(function () {
            var shareCount = $('#shareCount').val();
            $.ajax({
                type: "POST",
                url: "/Index?handler=BuyStocks",
                data: { "value": shareCount },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
        });
        //<!--SELL BUTTON-->
        $("#btnSell").click(function () {
            var shareCount = $('#shareCount').val();
            $.ajax({
                type: "POST",
                url: "/Index?handler=SellStocks",
                data: { "value": shareCount },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
        });

        //<!--HOLD BUTTON-->
        $("#btnHold").click(function () {
            var shareCount = $('#shareCount').val();
            $.ajax({
                type: "POST",
                url: "/Index?handler=Hold",
                data: { "value": shareCount },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("result").innerHTML = message;
                }
            });
        });

        //<!--QUIT BUTTON-->
        $("#btnQuit").click(function () {
            var shareCount = $('#shareCount').val();
            
            $.ajax({
                type: "POST",
                url: "/Index?handler=Quit",
                data: { "value": shareCount },
                contentType: 'application/x-www-form-urlencoded',
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (message) {
                    document.getElementById("result").innerHTML = message;
                    document.getElementById("btnGetStocks").disabled = false;
                }
            });
        });
        //<!--CHART-->
        var price = 100;
        $("#doughnut").roundSlider({
            tooltipFormat: "DoughnutVal2",
            sliderType: "min-range",
            handleSize: "+1",
            handleSize: "30,12",
            handleShape: "square",
            radius: 100,
            width: 25,
            max: price,
            value: 1,
            step: 1
        });

        //This code converts the value returned to whatever text value you need it to be.
        function DoughnutVal2(args) {
            return "Share(s): " + args.value;
        }

        //*****Accessibility FUNCTIONS
        function highContrastFunction() {
            document.getElementById('btnGetStocks').className = "btn btn-dark btn-lg";
            document.getElementById('btnBuy').className = "btn btn-dark btn-lg";
            document.getElementById('btnSell').className = "btn btn-dark btn-lg";
            document.getElementById('btnHold').className = "btn btn-dark btn-lg";
            document.getElementById('btnQuit').className = "btn btn-dark btn-lg";
        }

        function standardButtonFunction() {
            document.getElementById('btnGetStocks').className = "btn btn-outline-dark btn-lg";
            document.getElementById('btnBuy').className = "btn btn-outline-dark btn-lg";
            document.getElementById('btnSell').className = "btn btn-outline-dark btn-lg";
            document.getElementById('btnHold').className = "btn btn-outline-dark btn-lg";
            document.getElementById('btnQuit').className = "btn btn-outline-danger btn-lg";
        }
    </script>
    @**@
    }
